<%- include('blocks/header', {bot:bot, user: user, path: path, auth: auth}) %>

  <% const help = {};
  
 bot.commands.filter((cmd) => cmd.permLevel <= 3).forEach((command) => {
  const cat = command.category;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(command);
});
%>
    <div class="container SistineBestContent">
    <p class="text-info blockquote blockquote-primary" style=" text-align: center"><i>Commands that are listed here, either require Member, Moderator, or Guild Owner permission levels.</i></p>
      <% for (const category in help) { %>
      <br>
        <h2> <%= category %> Commands </h2>
        <div class="table-responsive" style="border-collapse: collapse; border-spacing: 0;">
        <br>
          <table class="table">
            <thead>
              <tr>
                <th>Command</th>
                <th>Description</th>
                <th>Required Permission</th>
                <% if (category === 'Fun')  { %>
                  <th>Command Cost</th>
                        <% } %>
              </tr>
            </thead>
            <tbody>
              <% for (const command of help[category]) { %>
                <tr>
                  <td>
                    <%= command.name %>
                      <i>
                        <%= `${command.aliases.length > 0 ? `(${command.aliases.join(', ')})` : ''}` %>
                      </i>
                  </td>
                  <td>
                    <%= command.description %>
                  </td>
                  <td>
                  <% switch (command.permLevel) {
                      case 0 : %>
                       Member
                           <% break;

                      case 1 : %>
                        Music DJ
                            <% break;

                      case 2 : %>
                        Moderator
                           <% break;
                      case 3: %>
                        Guild Owner
                          <% break;

                    } %>
                  </td>
                                 <% if (category === 'Fun')  { %>
                                   <td><%= command.cost %>¥</td>
                        <% } %>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
    <% include ./blocks/footer %>
