<%- include('blocks/header', commands) %>
    <div class="container SistineBestContent">
      <% for (const category in commands) { %>
      <br>
        <h3> <%= category %> Commands </h3>
        <div class="table-responsive" style="border-collapse: collapse; border-spacing: 0;">
        <br>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Aliases</th>
                <th>Usage</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% for (const command in commands[category]) { %>
               <% console.log(util.inspect(command)) %>
                <tr>
                  <td>
                    <%= command.name %>
                  </td>
                  <td>
                      <i>
                      <%- command.aliases.length > 1 ? `${command.aliases.join(", ")}` : '<i style="opacity: 0.5;" class="fa fa-times"></li>' %>
                      </i>
                  </td>
                  <td>
                    <%- `s>${command.usageString.length >= 1 ? `<code id="input">${command.usageString}</code>` : ''} ` %>
                  </td>
                  <td>
                    <%= command.description %>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
    <% include ./blocks/footer %>
