<%- include('blocks/header', commands) %>

  <% const help = {};
 commands.forEach((command) => {
  const cat = command.category;
  if (!help.hasOwnProperty(cat)) help[cat] = [];
  help[cat].push(command);
});
%>
    <div class="container SistineBestContent">
      <% for (const category in help) { %>
      <br>
        <h2> <%= category %> Commands </h2>
        <div class="table-responsive" style="border-collapse: collapse; border-spacing: 0;">
        <br>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Aliases</th>
                <th>Usage</th>
                <th>Description</th>
                <th>Command Cost</th>
              </tr>
            </thead>
            <tbody>
              <% for (const command of help[category]) { %>
                <tr>
                  <td>
                    <%- command.name %>
                  </td>
                  <td>
                      <i>
                      <%- `${command.aliases.length > 1 ? command.aliases.join(", ") : "<i style=\"opacity: 0.5;" class=\"fa fa-times\"></li>" }` %>
                      </i>
                  </td>
                  <td>
                    <%- `${command.name} ${command.usageString.length > 1 ? `<code id="input">${command.usageString}</code>` : ''} `%>
                  </td>
                  <td>
                    <%= command.description %>
                  </td>
                  <td><%= command.cost >= 1 ? command.cost + '¥' : 'Free' %></td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
    <% include ./blocks/footer %>
